################### {Beat} Configuration Example #########################

############################# {Beat} ######################################

stocksbeat:
  symbols:
    - AAPL
    - MSFT
    - AMZN
  finnhubToken: foobarbarFooo
