################### stocksbeat Configuration Example #########################

############################# stocksbeat ######################################

stocksbeat:
  symbols:
    - AAPL
    - MSFT
    - AMZN
  finnhubToken: ${FINNHUB_TOKEN}
